<form [formGroup]="userProfileForm" (submit)="updateUserProfile()">
    <div class="form-group">
        <h1>UPLOAD AND NOTIFY</h1>

        <label for="fileInput" class="custom-file-upload">
            Télécharger un fichier
        </label>
        <input type="file"
               formControlName="files"
               id="fileInput"
               multiple>
        
        <label for="recipient-email">Adresse e-mail du destinataire</label>
        <input type="text"
             formControlName="recipient-email"
             id="recipient-email">
        
        <button type="submit" class="btn btn-default">Envoyer les fichiers</button>
        <p>Merci de saisir l'adresse mail du destinataire afin de recevoir une notification 😀</p>
    </div>
</form>
